body {
 background-color: #424040;
 font-family: "Roboto", sans-serif;
}

.page-content {
 max-width: 1200px;
}

.swiper-pagination-bullet {
 background: #fff !important;
}

.swiper-pagination-bullet-active {
 width: 20px !important;
 background: #fff !important;
 border-radius: 5px !important;
}